*{margin: 0%;
  padding: 0%;
}

header{ 
   
  background-color: #9983c7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.principal{
display: grid;
grid-template-columns: 30% 70%;
}

.menu{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hosp, .perfil, .conf{
  display: flex;
}