*{margin: 0%;
  padding: 0%;
}

header{ 
   
  background-color: #9983c7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
 
}


.principal{
display: grid;
grid-template-columns: 30% 70%;
}

.menu{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hosp, .perfil, .conf{
  display: flex;
  align-items: center;
}

ul li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}

li{
  padding-top: 12px;
}

.hosp, .perfil{
  border-bottom: 1px solid black;
}