*{margin: 0%;
  padding: 0%;
}

header{ 
   
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

section{
display: flex;
align-items: center;
background: color #9983c7; ;

}